body {
    padding: 0;
    margin: 0;
}
  
  .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
  }

    /* Style for the people section */
  .people {
    height: 100vh;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
  }

  /* Style for each position */
  .position1,
  .position2,
  .position3,
  .position4,
  .position5,
  .position6 {
    flex: 1;
    position: relative;
    margin: -50px -80px;
    overflow: hidden;
  }

  .position1 {
    margin-right: -120px;
    margin-left: 0;
  }

  /* Style for the images */
  .person {
    max-width: 100%;
    height: auto;
    position: relative;
  }

  /* Style for the overlapping effect */
  .position1 .person {
    width: 80%;
  }

  .position2 .person {
    width: 80%;
  }

  .position3 .person {
    width: 95%;
    z-index: 3;
  }

  .position4 .person {
    width: 95%;
    z-index: 3;
  }

  .position5 .person {
    width: 75%;
    z-index: 2;
    margin-left: 20px;
  }

  .position6 .person {
    width: 85%;
    margin-left: -50px;
  }
  
  .message {
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 25%;
    text-align: center;
    padding: 0.2rem 0.5rem;
  }

  .more {
    background-color: #00aeef;
    border: 1px solid grey;
  }

  .hidden {
    visibility: hidden;
  }

  img:hover,
  img:focus {
    transform: scale(1.1);
  }
