.header {
    text-align: center;
    font-size: 2rem;
    background-color: #00aeef;
    text-decoration: underline;
    height: 20vh;
  }
  
  .canvas {
    height: 80vh;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .message {
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 25%;
    text-align: center;
  }
  
  h2 {
    padding-top: 2rem;
  }